body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #3948ab9e;
   
}

.logo h2{
    color: #3949ab;
    font-size: 36px;
    margin-left: 50px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-list a{
    margin-left: 50px;
    font-size: 16px;
    color: #f9f9f9;
    text-decoration: none;
    list-style: none;
}

.search-area{
    border: 1px solid #3949ab;
    /* padding: 2px 0px; */
    border-radius: 5px;
    margin-right: 30px;
}

.search-area input{
    background-color: transparent;
    border: none;
    outline: none;
    margin-left: 10px;
    color: #f9f9f9;
    
}
.search-area button{
    background-color: #3949ab;
    color: #f9f9f9;
    border: none;
    outline: none;
    padding: 10px 18px;
    border-radius: 0px 5px 5px 0px;
}
.planner {
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
    background-color: #e8eaf6;
    border-collapse: collapse;
    border: 2px solid #3949ab;
}
.planner thead th {
    background-color: #3949ab;
    color: white;
    padding: 10px;
}
.planner th, .planner td {
    border: 1px solid #3949ab;
    text-align: center;
    padding: 10px;
}
.planner tbody th {
    background-color: #5c6bc0;
    color: white;
}
.footer {
    text-align: center;
    padding: 20px;
    background-color: #3949ab;
    color: white;
    margin-top: 20px;
}
.footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.footer ul li {
    margin: 5px 0;
}